<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoserviceCore.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoserviceCore.AppSettings>
            <setting name="MySQL" serializeAs="String">
                <value>Server=localhost;Database=autoservice;Uid=root;Pwd=menace;CharSet=utf8;</value>
            </setting>
        </AutoserviceCore.AppSettings>
    </userSettings>
</configuration>